.container {
max-width: 1300px;
margin: 0 auto;
padding: 0 20px;
}

.bedingungen {
border: solid;
padding:0em 0em 0em 1em; 
}

.inputs {
margin: 0.75vw;
}

img {
max-width:100%;
height: auto;
}

#beispiel {
max-width: 50%;
height: auto;
float: left;
}

#formelimg {
  float: right;
  max-width: 45%;
  height: auto;  
}

#Ix1 {
width:7em;
height: 1.5em;;
}
#Ix2 {
width: 7em;
height: 1.5em;;
}

#Ia {
width: 9em;
height: 1.5em;
}

#Ib {
width: 9em;
height: 1.5em;
}

#Ic{
width: 9em;
height: 1.5em;
}


h3 {
font-size: 2em;
margin: 0em 1.5em 1em 0em;
}

button {
margin: 0vw 8.5vw 0vw 0vw;
}

#berechner {
width: 37%;      
margin-left: auto;   
margin-right: 0;
margin-top: 10vw;
margin-bottom: 4vw;
border: solid 2px #927a5f;
padding: 15px;
border-radius: 10px;
background-color: #ffffff4d;
}

.seperation {
border: none;
height: 2px;
background-color: #927a5f;
margin: 13em 0em 3em 0em;
}

@media screen and (max-width: 1000px) {

#Beispiel {
text-align: center;
}

#beispiel {
float: none;
max-width: 80%;
height: auto;
}

#formelimg {
float: right;
max-width: 60%;
height: auto;  
}

#berechner {
text-align: center;
width: 60%;       
margin-right: auto;
}

h3 {
font-size: 1.5em;
}
}

@media screen and (max-width: 550px) {

#beispiel {
max-width: 100%;
height: auto;
}
}