body {
overflow-x: hidden;
background:linear-gradient(to left,  #EADDCA 0%, #C19A6B 100% );
}

h1 {
font-size: 5.9em;
text-align: center;
color: #834333;
position: relative;
bottom: 50px
}

h2 {
font-size: 3.0em;
text-align: center;
background-color: #DAA06D;
color: #7B3F00;
border-radius: 100px;
border: solid;
margin: 0em 0em 3em 0em;
}

footer {
text-align: right;
}

p {
font-size: 2.0em;
}

input {
padding: 5px;
border-color: red;
border-radius: 6px;
font-size: 1em;
text-align: center;
}

hr {
border: none;
height: 2px;
background-color: #927a5f;
margin: 7em 0em 3em 0em;
}

.Nav {
   margin: 0;
   padding: 0;
   background-color: #333;
   overflow: hidden;
   position: relative;
   bottom: 90px
}

.Nav a {
   float: left;
   color: white;
   text-align: center;
   padding: 14px 5.3rem;
   text-decoration: none;
}
.Nav a:hover {
   background-color: #111;
}

.Nav .icon {
  display: none;
}

@media screen and (max-width: 855px) {
h1 {
font-size: 4em;
text-align: center;
color: #834333;
position: relative;
bottom: 50px
}

p {
font-size: 1.2em;
 }


}

@media screen and (max-width: 855px) {
.Nav a:not(:first-child) {
display: none;
 }

.Nav a.icon {
float: right;
display: block;
 }
}


@media screen and (max-width: 855px) {
.Nav.mobile {
position: relative;
}

.Nav.mobile a.icon {
position: absolute;
right: 0;
top: 0;
  }

.Nav.mobile a {
float: none;
display: block;
text-align: left;
  }
}

hr.mobileversion {
display: none;
margin: 0em;
}

@media screen and (max-width: 1000px) {
hr.mobileversion {
clear: both;
display: block;
border: none;
height: 2px;
background:linear-gradient(to left,  #EADDCA 0%, #C19A6B 100% );
margin: 3em 0em;
 }
}

@media screen and (max-width: 555px) {
.Nav a:first-child{
margin:0.8em;
padding: 0;
}
}
#Seitenname {
font-size: 1em;
}

#impressum {
font-size: 0.8em;
}

#seperation {
border: none;
height: 2px;
background-color: #927a5f;
margin: 9em 0em 3em 0em;
}


