
body{
overflow-x:hidden;
}

p {
font-size: 1.45em;
}

.vl {
border-left: 6px solid #a07949;
height: 60px;
  position: relative;
  left: 50%;
}

.container{
max-width: 1300px;
margin: 0 auto;
padding: 0 20px;
}

#pythagoras {
max-width: 40%;
height: auto;
float: right;
margin: 0em 0em 0em 3em;
}

#Al {
max-width: 15%;
height: auto;
float: right;
}

#rene {
max-width: 15%;
height: auto;
float: left;
margin: 0em 2em 0em 0em;
}

#Thales {
max-width: 15%;
height: auto;
float: right;
}

@media screen and (max-width: 750px) {

#pythagoras {
max-width: 60%;
height: auto;
float: right;
margin: 0em 0em 0em 3em;
}

#Thales {
max-width: 20%;
height: auto;
float: right;
}

#rene {
max-width: 25%;
height: auto;
float: left;
margin: 0em 2em 0em 0em;
}

#Al {
max-width: 25%;
height: auto;
float: right;
}

}
@media screen and (max-width: 500px) {
#pythagoras {
max-width: 80%;
height: auto;
float: right;
margin: 0em 0em 0em 3em;
}


#Thales {
max-width: 30%;
height: auto;
float: right;
}

#rene {
max-width: 30%;
height: auto;
float: left;
margin: 0em 2em 0em 0em;
}

#Al {
max-width: 30%;
height: auto;
float: right;
}

}
